# Arquivos de log e debug
logs
*.log
npm-debug.log*

# Arquivos temporários
*.tmp

# Diretório node_modules
node_modules/

# Arquivos de configuração específicos do usuário
.DS_Store
.env

# Dependências instaladas via npm
package-lock.json

# Dependências instaladas via yarn
yarn.lock

# Arquivos de build
/build

# Outros arquivos e diretórios gerados
.idea/
.vscode/
.cache/
dist/
